<div style="border:1px solid black; margin-top:20px;margin-left:20px; width:600px">
<center>
</br>
<strong style="font-size : 40px"> 실종 반려동물 자동 매칭 시스템 </strong>
</center>
</br></br></br>
<center>
<input type="button" value="포스터 찾기" onclick="location.href='polls/miss'" style="height:200px; width:200px; margin-right:50px;margin-bottom:50px;font-size:30px">
<input type="button" value="DB 업데이트" onclick="location.href='polls/boho'" style="height:200px; width:200px; margin-bottom:50px; font-size:30px">
</center>
</div>
